snippet fn "function" b
function! ${1:s:functionName}(${2:arguments})
	${VISUAL}$0
endfunction
endsnippet

snippet if "if" b
if ${1:condition}
	${VISUAL}$0
endif
endsnippet

snippet for "for" b
for ${1:i} in ${2:array}
	${VISUAL}$0
endfor
endsnippet
