[submodule "start/vim-gotham"]
	path = start/vim-gotham
	url = https://github.com/whatyouhide/vim-gotham.git
        ignore = all
[submodule "start/editorconfig-vim"]
	path = start/editorconfig-vim
	url = https://github.com/editorconfig/editorconfig-vim.git
        ignore = all
[submodule "start/ack.vim"]
	path = start/ack.vim
	url = https://github.com/mileszs/ack.vim.git
        ignore = all
[submodule "start/delimitMate"]
	path = start/delimitMate
	url = https://github.com/Raimondi/delimitMate.git
        ignore = all
[submodule "start/rust.vim"]
	path = start/rust.vim
	url = https://github.com/rust-lang/rust.vim.git
        ignore = all
[submodule "start/vim-surround"]
	path = start/vim-surround
	url = https://github.com/tpope/vim-surround.git
        ignore = all
[submodule "start/ultisnips"]
	path = start/ultisnips
	url = https://github.com/SirVer/ultisnips.git
        ignore = all
[submodule "start/emmet-vim"]
	path = start/emmet-vim
	url = https://github.com/mattn/emmet-vim.git
        ignore = all
[submodule "start/command-t"]
	path = start/command-t
	url = https://github.com/wincent/command-t.git
        ignore = all
[submodule "start/YouCompleteMe"]
	path = start/YouCompleteMe
	url = https://github.com/Valloric/YouCompleteMe.git
        ignore = all
[submodule "start/typescript-vim"]
	path = start/typescript-vim
	url = https://github.com/leafgarland/typescript-vim.git
        ignore = all
[submodule "start/vim-vinegar"]
	path = start/vim-vinegar
	url = https://github.com/tpope/vim-vinegar.git
        ignore = all
[submodule "start/vim-commentary"]
	path = start/vim-commentary
	url = https://github.com/tpope/vim-commentary.git
        ignore = all
